@using MultiShop.WebUI.Models.ViewModels.Catalog.SpecialOffer
@model List<SpecialOfferListVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int counter = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Özel Teklifler Slider Listesi</h4>
                <a href="/Admin/SpecialOffer/CreateSpecialOffer" style="margin-bottom: 10px;" class="btn btn-primary">Yeni</a>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Alt Başlık</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                counter++;
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>@item.Title</td>
                                    <td>@item.SubTitle</td>
                                    <td><a href="/Admin/SpecialOffer/UpdateSpecialOffer/@item.Id" class="btn btn-warning">Güncelle</a></td>
                                    <td><a href="/Admin/SpecialOffer/DeleteSpecialOffer/@item.Id" class="btn btn-danger">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

