@using MultiShop.WebUI.Models.ViewModels.Catalog.SpecialOffer
@model SpecialOfferUpdateVM

@{
    ViewData["Title"] = "UpdateSpecialOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>@Model.Title</h4>
                <div class="form-group">
                    <form method="post">
                        @* <label>Id</label>
                        <input type="hidden" readonly class="form-control" asp-for="Id" />
                        <br /> *@
                        <label>Başlık</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Alt Başlık</label>
                        <textarea rows="5" class="form-control" asp-for="SubTitle"></textarea>
                        <br />
                        <label>Görsel</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Buton Yazısı</label>
                        <input type="text" class="form-control" asp-for="ButtonText" />
                        <br />
                        @* <label>Durum</label>
                        <input type="checkbox" class="form-control" asp-for="Status" />
                        <br /> *@
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

