@{
    Layout = null;
}

<style>
    label.error {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        display: block;
    }

    input.error-highlight {
        border: 2px solid red;
    }

    a.account {
        display: inline-block;
        padding: 10px 25px;
        background-color: #f2f2f2; /* Butonun rengi */
        border: none;
        text-decoration: none;
        color: #333; /* Yazı rengi */
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
    }

        a.account:hover {
            background-color: #ddd; /* Hover efekti */
        }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MultiShop | Giriş Yap</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/colorlib-regform-30/css/style.css" />
</head>
<body class="form-v4">
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <h2>MultiShop E-Ticaret</h2>
                <p class="text-1">E-ticaretin bir numaralı adresi olan MultiShop'a hoşgeldiniz. İndirim fırsatlarını kaçırmadan alışverişe başlamak için hemen giriş yapın.</p>
                <p class="text-2"><span>Henüz bir hesabın yok mu?</span> Hemen üye ol ve alışverişe başla!</p>
                <div class="form-left-last">
                    @* <input type="submit" name="account" class="account" value="Hesap Oluştur"> *@
                    <a href="/Register/Index" class="account">Hesap Oluştur</a>
                </div>
            </div>
            <form class="form-detail" id="loginForm" method="post">
                <h2>Giriş Yap</h2>
                <div class="form-row">
                    <label for="your_username">Kullanıcı Adı</label>
                    <input type="text" id="your_username" name="Username" class="input-text" required>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="password">Parola</label>
                        <input type="password" id="password" name="Password" class="input-text" required>
                    </div>
                </div>
                @* <div class="form-checkbox">
                <label class="container"><p><a href="#" class="text">Üyelik Koşulları</a>'ını okudum ve kabul ediyorum.</p>
                <input type="checkbox" name="checkbox">
                <span class="checkmark"></span>
                </label>
                </div> *@
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="GİRİŞ YAP">
                </div>
            </form>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#loginForm").validate({
                rules: {
                    Username: {
                        required: true
                    },
                    Password: {
                        required: true,
                        minlength: 6,
                        pattern: /^(?=.*[A-Z])(?=.*[0-9])(?=.*[\W_]).+$/
                    }
                },
                messages: {
                    Username: {
                        required: "Lütfen bir kullanıcı adı giriniz."
                    },
                    Password: {
                        required: "Lütfen bir parola giriniz.",
                        minlength: "Parolanız en az 6 karakter olmalıdır."
                        pattern: "Parolanız en az bir büyük harf, bir rakam ve bir özel karakter içermelidir."
                    }
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element); // Hata mesajlarını inputun hemen altında gösterir..
                },
                highlight: function (element) {
                    $(element).addClass('error-highlight'); // Hatalı alana ek bir sınıf ekler..
                },
                unhighlight: function (element) {
                    $(element).removeClass('error-highlight'); // Hata kalkarsa sınıfı kaldırır..
                }
            });
        });

    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
