@using MultiShop.WebUI.Models.ViewModels.Catalog.Category

@model List<CategoryListVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Listesi</h4>
                <p>Kategori ile ilgili işlemlerinizi bu sayfadan gerçekleştirebilirsiniz.</p>
                <a href="#" class="btn btn-primary">Yeni</a>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategori Adı</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <th scope="row">@category.Id</th>
                                    <td>@category.Name</td>
                                    <td><a href="#" class="btn btn-warning">Güncelle</a></td>
                                    <td><a href="#" class="btn btn-danger">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

