@using MultiShop.WebUI.Models.ViewModels.Catalog.Category
@model CategoryUpdateVM
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>@Model.Name</h4>
                <p>İlgili kategoriye ait verileri güncelleme işleminizi bu panelden gerçekleştirebilirsiniz.</p>
                <div class="form-group">
                    <form method="post">
                        <label>Kategori Id</label>
                        <input type="text" readonly class="form-control" asp-for="Id" />
                        <br />
                        <label>Kategori Adı</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <br />
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

