@using MultiShop.WebUI.Models.ViewModels.Catalog.Feature
@model List<FeatureListVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int counter = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkanlar Listesi</h4>
                <a href="/Admin/Feature/CreateFeature" style="margin-bottom: 10px;" class="btn btn-primary">Yeni</a>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var feature in Model)
                            {
                                counter++;
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>@feature.Title</td>
                                    <td><a href="/Admin/Feature/UpdateFeature/@feature.Id" class="btn btn-warning">Güncelle</a></td>
                                    <td><a href="/Admin/Feature/DeleteFeature/@feature.Id" class="btn btn-danger">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


