@using MultiShop.WebUI.Models.ViewModels.Catalog.Product
@model ProductUpdateVM
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>@Model.Name</h4>
                @* <p>Ürün ekleme işleminizi bu panelden gerçekleştirebilirsiniz.</p> *@
                <div class="form-group">
                    <form method="post">
                        @* <input type="hidden" asp-for="Id" /> *@
                        <label>Ürün Adı</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <br />
                        <label>Kategori</label>
                        @* @Html.DropDownListFor(p => p.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" }) *@
                        @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.CategoryId, "Kategori Seçiniz", new { @class = "form-control" })
                        <br />
                        <label>Fiyatı</label>
                        <input type="number" class="form-control" asp-for="Price" step="0.01" min="0" max="1000000000" />
                        <br />
                        <label>İndirim Oranı (opsiyonel)</label>
                        <input type="number" class="form-control" asp-for="DiscountRate" step="1" min="0" max="100" />
                        <br />
                        <label>Öne Çıkanlarda Göster</label>
                        <input type="checkbox" class="form-control" asp-for="IsFeatured" />
                        <br />
                        <label>Kapak Fotoğrafı</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Açıklama</label>
                        <textarea rows="5" class="form-control" asp-for="Description"></textarea>
                        <br />
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

