
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Anasayfa</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Carousel Start -->
@await Component.InvokeAsync("_CarouselDefaultComponentPartial")
<!-- Carousel End -->
<!-- Featured Start -->
@await Component.InvokeAsync("_FeatureDefaultComponentPartial")
<!-- Featured End -->
<!-- Categories Start -->
@await Component.InvokeAsync("_CategoriesDefaultComponentPartial")
<!-- Categories End -->
<!-- Featured Products Start -->
@await Component.InvokeAsync("_FeaturedProductsDefaultComponentPartial")
<!-- Featured Products End -->
<!-- Discount Offer Start -->
@await Component.InvokeAsync("_DiscountOfferDefaultComponentPartial")
<!-- Discount Offer End -->
<!-- Vendor Start -->
@await Component.InvokeAsync("_VendorDefaultComponentPartial")
<!-- Vendor End -->